html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer{
    background: #eee;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 84px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}
.wrapper{
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
  }
  
  /* create pizza form */
  
  .create-pizza{
    background: #f7f7f7;
    padding: 20px;
  
    label, select{
      display: block;
    }
  
    label{
      margin-top: 30px;
    }
  
    select{
      padding: 8px;
      width: 200px;
    }
  
    input[type=checkbox]{
      margin: 10px;
    }
  
    input[type=submit]{
      background: #5e2195;
      padding: 8px 20px;
      color: #fff;
      border: 0;
      margin-top: 20px;
    }

    fieldset{
      border: 0;
    }
  
  }
  
  /* pizza details page */
  
  .pizza-details{
    background: #f7f7f7;
    padding: 20px;
  
    p{
      margin: 20px 0;
      font-weight: bold;
    }
    button{
      background: #5e2195;
      padding: 8px 20px;
      color: #fff;
      border: 0;
      margin-top: 20px;
    }
  }
  a.back{
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #5e2195;
    margin-bottom: 20px;
  }
  
  /* pizza index page */
  
  .pizza-index{
    h1{
      margin-bottom: 40px;
    }
    .pizza-item{
      margin: 10px 0;
      padding: 12px;
      background: #f4f4f4;
      img{
        width: 60px;
        display: inline-block;
      }
      h4{
        display: inline-block;
        font-weight: normal;
        margin-left: 20px;
        a{
          color: #777;
          text-decoration: none !important;
        }
      }
    }
  }